body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fdf5f5;
    color: #333;
}

header, footer {
    background-color: #f8c8dc;
    padding: 2rem;
    text-align: center;
    border-bottom: 2px solid #f2a2c0;
}

.logo {
    max-width: 120px;
    height: auto;
}

.site-title {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 10px 0;
    color: #a0522d;
}

nav ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    border: 1px solid #333;
}
nav ul li {
    display: block;
    border-bottom: 1px solid #333;
}
nav ul li:last-child {
    border-bottom: none;
}
nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 40px;
    display: block;
}
nav a:hover, .active-page {
    background-color: #613c22;
    color: white;
}
